<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Flask App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1 {
            color: #0078d4;
        }
    </style>
</head>
<body>
    <h1>Python Flask application... configure CI/CD  in azure web app service for git and azure in Develop Branch adde a comment</h1>
</body>
</html>
